<div class="container col-xs-4 col-xs-offset-3">
  <div class="row">
   <button class="btn btn-success col-xs-6" ng-click="setRegisterContainer()">Register</button>
    <button class="btn btn-info col-xs-6" ng-click="setLoginContainer()">Login</button>
   
  </div>
  <div class="row">

<!-- start of register form -->
    <form ng-show="loginContainer">

      <div class="form-group">
        <label>Email Address</label>
        <input type="email" class="col-xs-offset-1 col-xs-10" placeholder="Email address" ng-model="login.email" required autofocus>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="col-xs-offset-1 col-xs-10" placeholder="" ng-model="login.password" required>
      </div>

      <div class="form-group">
        <a class="btn btn-lg btn-success col-xs-offset-1 col-xs-10" ng-click="loginUser(login)">Submit Login</a>
      </div>

    </form>
    <!--end of register form -->

<!-- start of login form -->
    <form ng-show="registerContainer">

      <div class="form-group">
        <label>Email Address</label>
        <input type="email" class="col-xs-offset-1 col-xs-10" placeholder="Email address" ng-model="register.email" required autofocus>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input type="password" class="col-xs-offset-1 col-xs-10" placeholder="" ng-model="register.password" required>
      </div>

      <div class="form-group">
        <label>Username</label>
        <input type="text" class="col-xs-offset-1 col-xs-10" placeholder="Username" ng-model="register.username" required>
      </div>

      <div class="form-group">
        <a class="btn btn-lg btn-success col-xs-offset-1 col-xs-10" ng-click="registerUser(register)">Submit Registration</a>
      </div>

    </form>
<!-- end of login form -->

  </div> 
</div>