<div class="row">
	<div class="col-xs-6 col-xs-offset-3" >
			<div class="input-group">
				<span class="input-group-btn">
					<button class="btn btn-default"><i class="fa fa-search"></i></button>
				</span>
				<input type="text" class="form-control" placeholder="Search for ..." ng-model="searchText">
			</div>
	</div>
</div>

<h3>Boards</h3>
<div ng-repeat="board in boards | filter: {isSelected:false} | filter:searchText">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-xs-1"><input type="checkbox" name="" ng-model="board.isSelected" ng-change="inputChange(board)"></div>
			<div class="col-xs-9"><a href="#/boards/view/{{board.id}}">{{board.pin}}</a></div>
			<div class="col-xs-1">{{board.assignedTo}}</div>
			<div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteBoard(board.id)"></button></div>
		</div>
	</div>
</div>

<h3>My Boards</h3>
<div ng-repeat="board in boards | filter: {isSelected:true}">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-xs-1"><input type="checkbox" name="" ng-model="board.isSelected" ng-change="inputChange(board)"></div>
			<div class="col-xs-9"><a href="#/boards/view/{{board.id}}">{{board.pin}}</a></div>
			<div class="col-xs-1">{{board.assignedTo}}</div>
			<div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteBoard(board.id)"></button></div>
		</div>
	</div>
</div>